* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  grid-template-areas:
    "surf surf "
    "led calc"
    "pastel run";
}

#surf {
  grid-area: surf;
  background-image: url(/images/02-portfolio-4.jpg);
}

#led {
  grid-area: led;
  background-image: url(/images/02-portfolio-1.jpg);
}

#calc {
  grid-area: calc;
  background-image: url(/images/02-portfolio-2.jpg);
}

#pastel {
  grid-area: pastel;
  background-image: url(/images/02-portfolio-3.jpg);
}

#run {
  grid-area: run;
  background-image: url(/images/02-run-buddy.jpg);
}
